<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</head>
<body>
    <nav>
        <form>
            <input type="text" placeholder="search..." id="searchInput">
        </form>
        <ul>
        </ul>
    </nav>
    
    <div class="main" id="main">
        <div class="studentCard"> 
            <h3>Students Info</h3>
            <p>Name: <span>Sufyan Ghani</span></p>
            <p>Age: <span>24</span></p>
            <p>Course: <span>Maths</span></p>
        </div>
    </div>
</body>
</html>